
.home h2{
  font-size: 25px;
  width: 80rem;
  text-align: center;
}

.home p{
  font-size: 30px;
  margin-top: 0px;
  width: 80rem;
  text-align: center;
}

.nav {
  display: flex;
  gap: 30rem;
  font-size: 20px;
  background-color: rgb(168, 168, 243);
  padding: 2rem;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 5rem;
}

ul li {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-weight: bold;
  font-size: 30px;
}

ul li a {
  text-decoration: none;
}

.calculator-grid {
  margin-top: 5rem;
  margin-left: 30rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 340px;
}

.calculator-grid .screen {
  width: 100%;
  background-color: rgb(165, 163, 163);
  text-align: end;
}

input {
  width: 80px;
  margin: 1px;
  height: 50px;
  font-size: 3rem;
}

input[value='/'],
input[value='*'],
input[value='+'],
input[value='-'],
input[value='='] {
  background-color: orangered;
}

 ul li{
  flex-direction: column;
 
}

ul li h4 { 
  color: rgb(165, 3, 157);
}

ul li h5 { 
  color: rgb(25, 2, 128);
  margin-top: -25px;
}
